<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch">
<booleanAttribute key="clean" value="true"/>
<booleanAttribute key="dynamicBundles" value="true"/>
<stringAttribute key="launchTarget" value="sho.playground.generic"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sho.playground.generic"/>
<booleanAttribute key="trace" value="false"/>
</launchConfiguration>
